.wrapper {
	width: 600px;
	margin-left: auto;
	margin-right: auto;
}

.hidden {
	display: none;
}

body {
	font-family: 'Open Sans', sans-serif;
}

h1{
	font-weight: 300;
	font-size:50px;
	letter-spacing: 20px;
	padding-top: 50px;
}

p{
	font-weight: 400;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

li {
	width: 30px;
	height: 30px;
	color: #fff;
	background-color:#777;
	display: block;
	text-align: center;
	float: left;
	padding: 0 10 20 10;
	margin: 10 10 0 0 ;

}



.selected {
	background-color:#333;
	animation: fadeBlack 1s linear;
}

@keyframes fadeBlack {
	0% {background-color: #777}
	100% {background-color: #333;}
}